.button1 {
  --bg-color: #111;
  --main-color: #fefefe;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color:white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.button1:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.redp {
  --bg-color: #111;
  --main-color: #fefefe;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color:black;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.redp:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.icon {
  width: 70px;
  height: 70px;
  fill: var(--main-color);
}